{% extends 'showcase/base.html' %}


{% block content %}

<h1>Products list</h1>
<form action="{% url 'showcase:home' %}" method="get">
    <div class="row">
        <div class="col-sm-4">
            {{ form }}
        </div>
    </div>
</form>
<br>

{% for product in product_list %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3><a href="{% url 'showcase:product_detail' pk=product.pk %}">{{ product.title }}</a></h3>
        <p>{{ product.description }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}


{% block javascript %}
<script type="text/javascript">

</script>
{% endblock %}
